<div class="container " >
  
   
    <div class="row ">
       <div class="col-6 bg-stripped">
    Email<input type="text" class="form-control"[(ngModel)]="speaker.email"><br>
    City<input type="text" class="form-control"[(ngModel)]="speaker.city"><br>
    Street<input type="text" class="form-control"[(ngModel)]="speaker.street"><br>
    Building<input type="text" class="form-control"[(ngModel)]="speaker.building"><br>
   <button class="btn btn-danger" (click)="update()">Update Data</button>
   <a href="#" class="link-primary" [routerLink]="['/adminspeakers']">Back</a>
   <br>
   <br> 


</div>
</div>
</div>