<table class="table table-striped ">
    <thead>
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>City</th>
            <th>Steet</th>
            <th>Building</th>
            <th>operations</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of speakers">
       
            <td>{{item._id}}</td>
            <td>{{item.email}}</td>
            <td>{{item.city}}</td>
            <td>{{item.street}}</td>
            <td>{{item.building}}</td>
            <td>
                
                <a class="btn btn-info" [routerLink]="['/adminspeakers/details',item._id]">Details</a>
                <button class="btn btn-danger margin-left" (click)="Delete(item._id)">Delete</button>
                
            </td>
        </tr>
        
    </tbody>
</table>
<a href="#" class="link-primary" [routerLink]="['/admin/home']">Back</a>
<!-- 
<div class="container " > -->
  
   
    <!-- <div class="row ">
       <div class="col-6">
    ID<input type="text" class="form-control" [(ngModel)]="nspk._id"><br>
    Email<input type="text" class="form-control"[(ngModel)]="nspk.email"><br>
    City<input type="text" class="form-control" [(ngModel)]="nspk.city"><br>
    Street<input type="text" class="form-control"[(ngModel)]="nspk.street"><br>
    Building<input type="text" class="form-control" [(ngModel)]="nspk.building"><br>
   
  
    <button class="btn btn-danger" (click)="add()">Add Speaker To Event</button>
</div>
</div>
</div> -->