<table class="table table-striped ">
    <thead>
        <tr>
            <th>Id</th>
            <th>email</th>
            <th>operations</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of students">
       
            <td>{{item._id}}</td>
            <td>{{item.email}}</td>
            <td>
                
                <a class="btn btn-info" [routerLink]="['/adminstudents/details',item._id]">Details</a>
                <button class="btn btn-danger margin-left" (click)="Delete(item._id)">Delete</button>
            </td>
        </tr>
        
    </tbody>
</table>

<!-- 
<div class="container " >
  
   
    <div class="row ">
       <div class="col-6">
    ID<input type="text" class="form-control" [(ngModel)]="nstd._id"><br>
    Email<input type="text" class="form-control"[(ngModel)]="nstd.email"><br>
  
    <button class="btn btn-danger" (click)="add()">Add Student To Event</button>
</div>
</div>
</div> -->